/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

body{
    font-family: 'Fredoka', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}

p{
    margin: 30px 0px;
}


h1{
    color: #e53170;
    font-weight: 700;
    padding: 30px;
}

/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

.column{
    padding: 20px;
    width: calc(100% / 3);
    float: left;

}

.card{
    background-color: black;
    color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.profile-pic{
    width: calc(100% * 1/4);
    float:left;
}

.description{
    width: calc(100% * 3/4);
    float:left;
    font-size: larger;
    padding: 15px;
}

.description > * {
    display: inline-block;
    margin: 7px;
    font-size: 20px;
}

.name{
    font-weight: 700;
    font-size: 23px;
}

.blue-text{
    color: #17ccf2;
}

.job{
    font-weight: 400;
}
